<% if vehicle.nil? && act == 'new' %>

	<div class="inline">
		<%= label_tag "vehicle", 'Vehicle' %>
		<%= select("vehicle", "id", Vehicle.all.collect { |v| ["#{v.model.make.make_name} #{v.model.model_name} (#{v.reg_no})", v.id]}, { :include_blank => true } ) %>
	</div>

<% elsif !vehicle.nil? && act == 'edit' %>

	<div class="inline">
		<%= label_tag "vehicle", 'Vehicle' %>
		<%= select("vehicle", "id", Vehicle.all.collect { |v| ["#{v.model.make.make_name} #{v.model.model_name} (#{v.reg_no})", v.id]}, { :include_blank => false, :selected => vehicle.id } ) %>
	</div>

<% elsif !vehicle.nil? %>

	<%= text_field_tag 'vehicleid', vehicle.id %>
	<div class="inline">
		<%= label_tag "veh_reg_no", 'Licence Plate' %>
		<%= text_field_tag 'veh_reg_no', vehicle.reg_no, :readonly => true %>
	</div>
	<div class="inline">
		<%= label_tag "veh_make", 'Make' %>
		<%= text_field_tag 'veh_make', vehicle.model.make.make_name, :readonly => true %>
	</div class="inline">
	<div>
		<%= label_tag "veh_model", 'Model' %>
		<%= text_field_tag 'veh_model', vehicle.model.model_name, :readonly => true %>
	</div>

<% end %>