<li> <%= link_to "General", '#' %> </li>
<li> <%= link_to "Vehicles", '#' %> </li>
<li> <%= link_to "Customers", '#' %> </li>
<li> <%= link_to "Groups", '#' %> </li>
<li> <%= link_to "Rates", '#' %> </li>