<li> <%= link_to "General", '#' %> </li>
<%= render 'shared/nav/vehicles/dropdown' %>
<li> <%= link_to "Customers", '#' %> </li>
<li> <%= link_to "Groups", '#' %> </li>
<li> <%= link_to "Rates", '#' %> </li>