<li class="divider-vertical"></li>
<li class="dropdown"> 
  <a data-toggle="dropdown" class="dropdown-toggle" href="#">
    Options <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li>
      <%= link_to home_path do %>
        <i class="icon-home"></i> Home
      <% end %>
    </li>
    <li>
      <%= link_to operation_path do %>
        <i class="icon-wrench"></i> Operation
      <% end %>
    </li>
    <li>
      <%= link_to board_path do %>
        <i class="icon-wrench"></i> Board
      <% end %>
    </li>

    <% if current_user.admin? %>
      <li>
        <%= link_to admin_path do %>
          <i class="icon-wrench"></i> Administration
        <% end %>
      </li>
    <% end %>
    <li class="divider"></li>
    <li>
      <%= link_to signout_path, method: "delete" do %>
      <i class="icon-off"></i> Sign out
      <% end %>
    </li>
  </ul>
</li>