<div id="model_error_explanation"></div>
<div class="row">
	<div class="span3">
		<%= text_field_tag 'makeid' %>
		<div>
			<%= label_tag "model_name", 'Name' %>
			<%= text_field_tag 'model_name', nil, :placeholder => 'Enter model name...' %>
		</div>
		<div>
			<%= label_tag "model_description", 'Description' %>
			<%= text_area_tag 'model_description', nil, :rows => 7, :cols => 25, :placeholder => 'Enter model description...', :escape => true %>
		</div>
	</div>
</div>