<%= render 'shared/error_messages', object: vehicle %>
<div class="row">
	<div class="span4">

		<%= render :partial => 'vehicles/make_model/makemodelfields',  :locals => { :vehicle => vehicle, :act => act }  %>
	</div>
	<div class="span7">
		<div class="right">
			<%= label_tag "reg_no", 'License plate number' %>
			<%= if act == 'new'
				text_field_tag 'reg_no', nil, :placeholder => 'Enter licenseplate number...'
			else 
				text_field_tag 'reg_no', vehicle.reg_no, :readonly => true 
			end %>
		</div>
	</div>
</div>

<%= render :partial => 'vehicles/make_model/new_make', :locals => { make: Make.new } %>
<%= render :partial => 'vehicles/make_model/new_model', :locals => { model: Model.new } %>
<div id="msg_dialog" title="Message"></div>
<%= render :partial => 'vehicles/make_model/confirm_delete' %>

