<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Tangerine", :media => "all" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag  "http://code.jquery.com/jquery-1.7.2.min.js" %>
  <%= javascript_include_tag  "http://code.jquery.com/ui/1.8.21/jquery-ui.min.js" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1><%= yield(:title) %></h1>
	<% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>


</body>
</html>
