<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="Open Fleet: Fleet Administration System" name="description">
  <meta content="jblackbird" name="author">
  <%= stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Aldrich", :media => "all" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag  "http://code.jquery.com/jquery-1.7.2.min.js" %>
  <%= javascript_include_tag  "http://code.jquery.com/ui/1.8.21/jquery-ui.min.js" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
      <%= yield %> 
      <%= render 'layouts/footer' %>
  </div>

  <%= debug(params) if Rails.env.development? %>

</body>
</html>
